.card {
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  background: #f1f1f1;
  transition: 0.3s;
  text-align: center;

  margin: auto;

}

.card:hover {
  cursor: pointer;
}

#box {
  width: 120px;
  height: 120px;
  background: crimson;
  position: absolute;
  top: 100px;
  left: 100px;
  cursor: grab;
}
