*{
    
    margin:0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    background: #45a049;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #555;
}
