*{
   
    padding: 0;
    margin: 0;

    box-sizing: border-box;

}
.container {
  max-width: 400px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.loader {
  color: blue;
  margin: 10px 0;
}

.error {
  color: red;
  margin: 10px 0;
}

.hidden {
  display: none;
}

li {
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}