*{

    padding: 0;
    margin: 0;

    box-sizing: border-box;
}



body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}
form h2 {
  margin-bottom: 20px;
  color: #333;
}


.form-group {
  margin-bottom: 15px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  margin-block:10px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #6c63ff;
  outline: none;
}


.error {
  color: red;
  font-size: 0.85em;
  margin-top: 5px;
  display: block;
}


button {
  width: 100%;
  padding: 12px;
  margin-top:10px;
  background: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  
}

button:hover {
  background: #574b90;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}


#loader {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  font-style: italic;
}


#message {
  margin-top: 15px;
  font-size: 14px;
}
.success { color: green; }
.error { color: red; }