*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

 body {
      font-family: Arial;
      padding: 20px;
    }
    input, button {
      padding: 8px;
      margin: 5px 0;
      width: 200px;
    }
    .card {
      border: 1px solid #ccc;
      padding: 10px;
      margin-top: 10px;
      width: 250px;
    }